<h3>Edit <%= @sermon.title %></h3>
<%= form_for @sermon, url: sermon_url(@sermon.id), method: :patch do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title, required: true%><br><br>
  <%= f.label :description %><br>
  <%= f.text_field :description %><br><br>
  <%= f.label :date %><br>
  <%= f.datetime_select :date  %><br><br>
  <%= f.label(:series, "Choose a series") %><br>
  <%= f.collection_select(:series, Series.all, :id, :title) %><br><br>
  <%= f.label :image %><br>
  <%= f.file_field :image %><br><br>
  <%= f.submit %>
<%end%>
