<h3><%= @sermon.title %></h3>
<%= button_to "Edit Sermon", edit_sermon_url, method: :get %>
<% if @sermon.image %>
  <%= image_tag(@sermon.image, class: "img-show")%>
<% elsif @sermon.series.image %>
  <%= image_tag(@sermon.series.image, class: "img-show")%>
<% end %>

<h4>Description</h4>
<p><%= @sermon.description %></p>
<h4>Date</h4>
<p><%= @sermon.date %></p>
<% if @sermon.series %>
  <h4>Series</h4>
  <p><%= link_to @sermon.series.title, series_url(@sermon.series) %></p>
<% end %>

