<!DOCTYPE html>
<html>
  <head>
    <title>Sermonlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <h1><%= link_to "Series", series_index_url %></h1>
      <h1><%= link_to "Sermons", sermons_url %></h1>
    </div>
    <%= yield %>
  </body>
</html>
